{% extends 'base.html.twig' %}


{% block body %}
<h1>Categorias</h1>
	<ul>
		{% for category in listacategory %}
			<li>{{category.nombre}}</li>
		{%endfor%}
	</ul>

<p><a href="{{path('category_nuevo')}}">Añadir categoria</a></p>
{% endblock %}
