{% extends 'base.html.twig' %}

{% block body %}

<h1>Personas</h1>
	<ul>
		{% for persona in vectorpersonas %}
			<li>{{persona.nombre}} - {{persona.edad}} - {{persona.telefono}}</li>
		{%endfor%}
	</ul>
<a href="{{path('persona_nuevo')}}">Añadir Persona/a>


{% endblock %}
